{% extends base %}

{% block preamble %}
<head><link rel="icon" type="image/jpeg" href="redapp/static/icon.png"></head>
{% endblock %}

{% block postamble %}
  <style>
    {% include "style.css" %}
  </style>
{% endblock %}

{% block contents %}
  <div class="content">
    <div class="intro">
      <span>Relativistic Difference Scheme Particle-In-Cell code</span>
      {{ super() }}
    </div>
    <p align="right"><i>Developed by <a href="https://fuodorov.github.io/">Vyacheslav Fedorov</a></i></p>
  </div>
{% endblock %}
